In [1]:
import numpy as np

A = np.array([10, 20, 30, 40, 50])
B = np.array([5, 4, 3, 2, 1])

print("A + B =", A + B)
print("A - B =", A - B)
print("A * B =", A * B)
print("A / B =", A / B)


print("Mean of A:", np.mean(A))
print("Max of A:", np.max(A))
print("Min of A:", np.min(A))


print("Dot product of A and B:", np.dot(A, B))


A_reshaped = A.reshape(5, 1)
print("A reshaped to 5x1:\n", A_reshaped)

A + B = [15 24 33 42 51]
A - B = [ 5 16 27 38 49]
A * B = [50 80 90 80 50]
A / B = [ 2.  5. 10. 20. 50.]
Mean of A: 30.0
Max of A: 50
Min of A: 10
Dot product of A and B: 350
A reshaped to 5x1:
 [[10]
 [20]
 [30]
 [40]
 [50]]

In [3]:
import pandas as pd

data = {
    "Name": ["Alice", "Bob", "Charlie", "David", "Eva"],
    "Age": [20, 22, 19, 21, 20],
    "Grade": ["A", "B", "A", "C", "B"],
    "Marks": [85, 78, 92, 65, 74]
}

students_data = pd.DataFrame(data)

print("\n First 3 rows of the DataFrame:")
print(students_data.head(3))

print("\n Name and Marks columns:")
print(students_data[["Name", "Marks"]])

print("\n Students with grade 'A':")
print(students_data[students_data["Grade"] == "A"])

 First 3 rows of the DataFrame:
      Name  Age Grade  Marks
0    Alice   20     A     85
1      Bob   22     B     78
2  Charlie   19     A     92

 Name and Marks columns:
      Name  Marks
0    Alice     85
1      Bob     78
2  Charlie     92
3    David     65
4      Eva     74

 Students with grade 'A':
      Name  Age Grade  Marks
0    Alice   20     A     85
2  Charlie   19     A     92